<?xml version="1.0" encoding="utf-8"?>
<!--
~ Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
~ SPDX-License-Identifier: BSD-3-Clause-Clear
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.codeaurora.umdadaptor">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_MEDIA_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_TUNER_AUDIO_INPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UMDAdaptor">
        <service
            android:name=".UMDService"
            android:enabled="true"
            android:foregroundServiceType="microphone"
            android:exported="false">
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
